
<!DOCTYPE HTML>
<html ng-app="model">
<head>
    <title>Período de teste chegou ao Fim!</title>

    <!--external css-->
    <link href="../assets/font-awesome/css/font-awesome.css" rel="stylesheet" />
    <link href="../assets/css/glyphicons.css" rel="stylesheet" />
    <!--CSS da calendário dos eventos-->
    <link href="../assets/css/angular-bootstrap-calendar.css" rel="stylesheet" />

    <!-- Custom styles for this template -->
    <link href="../assets/css/style.css" rel="stylesheet">
    <link href="../assets/css/style-responsive.css" rel="stylesheet">

    <link href="css/style.css" rel="stylesheet" type="text/css" media="all" />

    <style>
        .content a:hover {
            color: #f5d564;
        }
    </style>


</head>
<body ng-controller="index">
    <!--start-wrap--->
    <div class="wrap">
        <!---start-header---->
        <!---End-header---->
        <!--start-content------>
        <div class="content" style="width:900px;margin: 0 auto;text-align:center;padding-top:0;">
            <span class="glyphicons glyphicons-clock" style="font-size:200px;"></span>
            <span class="glyphicons glyphicons-bug" style="position: relative;top: 180px;left: 0px;font-size: 60px;"></span>
            <p style="font-size:25px;">
                <span>
                    <label>O</label>pss...
                </span>
                Parece que o período de teste do seu Sistema acabou!
                Entre em contato conosco através da nossa central de atendimento:<br /><br />
                Fones: (84) 99930-7090 ou (84) 4141-7090<br />
                E-mail: atendimento@ipragas.com.br
            </p>

            <a ng-click="contratarSistema()" style="font-family: arial;font-size: 16px; cursor:pointer;">Clique aqui para Contratar!</a>
            <br /><br />
            <a ng-click="sairSistemaTeste()" style="font-family: arial;font-size: 16px; cursor:pointer;    position: relative;top: 30px;background: #f54040;">CLique aqui para Sair do Sistema!</a>

        </div>
        <!--End-Cotent------>
    </div>
    <!--End-wrap--->
    <!-- JS app AngularJS feito -->
    <!-- JS app AngularJS feito -->
    <script src="../assets/js/app/libs/angular.min.js"></script>
    <script src="../assets/js/app/libs/angular-route.min.js"></script>
    <script src="../assets/js/app/libs/angular-input-masks-standalone.min.js"></script>
    <script src="../assets/js/app/libs/ngMask.min.js"></script>>
    <script src="../assets/js/app/app.js"></script>
    <script src="../assets/js/app/navegacao.js"></script>
    <script src="../assets/js/app/validacao.js"></script>
    <script src="../assets/js/app/libs/dirPagination.js"></script>
    <script src="../assets/js/app/autocomplete.js"></script>
    <!--JS do calendário dos eventos-->
    <script src="../assets/js/app/interact.min.js"></script>
    <script src="../assets/js/app/moment.js"></script>
    <script src="../assets/js/app/angular-bootstrap-calendar-tpls.js"></script>
    <script src="../assets/js/app/ui-bootstrap-0.14.3.min.js"></script>
    <script src="../assets/js/app/angular-touch.min.js"></script>
    <script src="../assets/js/app/angular-animate.min.js"></script>
    <script src="../assets/js/app/pt-br.js"></script>
</body>
</html>
